@{
    ViewData["Title"] = "Ban succesful";
    string bannedemail = ViewData["bannedemail"].ToString();
}
<div class="body-row2">
    <h1>The user with email: @bannedemail, has been banned</h1>
</div>
