@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Ban succesful";
    string bannedemail = ViewData["bannedemail"].ToString();
}
<div class="">
    <h1>@localizer["theuser"]: @bannedemail, @localizer["hasbeenbanned"]</h1>
</div>
