
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="body-row2">

    <h1>@localizer["repcomp"]</h1>

    <a asp-controller="Products" asp-action="Index">@localizer["clickback"]</a>
</div>