@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div style="margin-left:4rem">

    <h1>@localizer["repcomp"]</h1>

    <a asp-controller="Products" asp-action="Index">@localizer["clickback"]</a>
</div>