
bin/Debug/netcoreapp3.1/AuthSystem.Views.dll
bin/Debug/netcoreapp3.1/AuthSystem.Views.pdb
bin/Debug/netcoreapp3.1/AuthSystem.Views.dll
bin/Debug/netcoreapp3.1/AuthSystem.Views.pdb
obj/Debug/netcoreapp3.1/AuthSystem.csprojAssemblyReference.cache
