/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*hoofd en productpagina*/
.body-row {
    margin: 0px auto;
    padding: 10px 30px;
    background-color: #e1e1e1;
    display: inline-block;
    text-align: center;
}

.filter-row {
    width: 200px;
    display: inline-block;
}

    .filter-row h2 {
        text-align: left;
    }

    .filter-row p {
        display: inline-block;
        float: left;
        font-size: 20px;
        margin: 0px 10px;
    }

    .filter-row input {
        display: inline-block;
        float: left;
    }

    .filter-row div {
        width: 100%;
        display: inline-block;
        margin: 2px 0px;
    }

.select-boxes select {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0px;
    border-radius: 5px;
}

.products-row {
    width: 75%;
    display: inline-block;
    float: right;
}

    .products-row h1 {
        margin-left: 40px;
    }

.product {
    margin-left: 20px;
    margin-right: 20px;
    width: 275px;
    display: inline-block;
}

    .product img {
        width: 100%;
        height: 100%;
        border: 1px solid;
    }

    .product p {
        font-size: 20px;
        text-align: center;
        margin: 0px;
        margin-bottom: 20px;
    }

.pro-page {
    margin-top: 25px;
}
/*end of hoofd en productpagina
start of Profile.html pagina*/
.profile-image {
    width: 250px;
    text-align: center;
    margin: 0px auto;
}

    .profile-image img {
        width: 100%;
        margin: 0px auto;
        display: block;
        border-radius: 130px;
        width: 100%;
        margin: 0px auto;
        display: block;
        border-radius: 100%;
        height: 250px;
    }

.your-products {
    text-align: center;
}

    .your-products h1 {
        font-size: 40px;
    }

.profile-image p {
    font-size: 25px;
    margin-top: 0px;
}

.profile-image button {
    background-color: #475e48;
    font-size: 25px;
    color: white;
    padding: 5px 60px;
    border-radius: 5px;
}

    .profile-image button:hover {
        background-color: #b3dea2;
        color: #000;
    }

@media screen and (max-width: 925px) {
    .filter-row {
        width: 100%;
        display: inline-block;
    }

    .products-row {
        width: 100%;
    }
}

/*start of header*/
.img {
    float: left;
}

.searchbalk {
    float: right;
    margin-top: -2px;
}

.search {
    width: 350px;
    display: block;
    float: right;
    padding-top: 16px;
    margin-right: 60px;
}

.dif-header {
    background-color: #b3dea2;
    height: 62px;
}

.prosearch {
    height: 33px;
    border-radius: 5px;
}

.submitprosearch {
    height: 33px;
    border-radius: 5px;
}

.menu {
    background-color: #b3dea2;
    height: 62px;
    opacity: 80%;
}

.language {
    width: 43px;
    height: 30px;
}

.main-navigation {
    width: 500px;
    float: left;
    margin-top: 10px;
}

.menu-item {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 33px;
    margin: 0;
    padding: 5px 20px;
}

.main-navigation a {
    color: #000;
    font-size: 25px;
    text-decoration: none;
}

.start-header {
    height: 330px;
    background-image: url(./Images/OIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

.slider-text {
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 140px;
    text-align: center;
    border: solid #000 3px;
    background-color: #fff;
    opacity: 70%;
    margin-top: 60px;
}

    .slider-text h1 {
        margin-top: 18px;
        margin-bottom: 0px;
        font-size: 45px;
    }

    .slider-text p {
        margin: 0px;
        margin-top: 10px;
        font-size: 25px;
    }
/*End of Header*/
/*start of body*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .menu {
        height: 120px;
    }

    .main-navigation {
        width: 100%;
    }

    .search {
        margin-right: 0px;
        width: 100%;
        float: left;
        padding-top: 0px;
        margin-left: 60px;
    }

    .searchbalk {
        float: left;
        margin-left: 60px;
    }

    .main-navigation {
        margin-bottom: 10px;
    }

    .slider-text {
        margin-top: 30px;
    }

    .dif-header {
        height: 120px;
    }
}

@media screen and (max-width: 550px) {
    .start-header {
        height: 370px;
    }

    .dif-header {
        height: 250px;
    }

    .menu {
        height: 250px;
    }

    .menu-item {
        width: 100%;
        padding: 0px;
    }

    .main-navigation a {
        font-size: 20px;
    }

    .search {
        margin-left: 40px;
    }

    .main-navigation {
        margin-bottom: 10px;
    }

    .slider-text {
        margin-top: 20px;
        height: 80px;
        width: 170px;
    }

        .slider-text h1 {
            margin-top: 10px;
            font-size: 25px;
        }

    .searchbalk {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
    }

    .slider-text p {
        margin-top: 5px;
        font-size: 15px;
    }
}

/*voorbeeldcode
a:hover {
    background: #338033;
    cursor: pointer;
}

button:hover:{
    opacity: .6;
    transition: .7s;
}*/
/**/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
