@page
@model PersonalDataModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["personaldata"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="row">
    <div id="editingpages" class="col-md-6">
        <p></p>
        <p>
            <strong>@localizer["deletewarning"]</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button id="blauwnaargroen" class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="blauwnaargroen" asp-page="DeletePersonalData" class="btn btn-primary">@localizer["deletebtn"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}