@{
    ViewData["Title"] = "About us";
}


<body>



    <div class="body-row2">



        <div class="plantalon">
            <img src="~/Images/floating-plant-2.png" style="width: 100%; height: 100%; display: inline-block; border-radius: 15px;">
        </div>


        <h2 class="ZATEAM" id="ZATEAM">De Kas</h2>
        <p>
            Stadskwekerij De Kas is een bewonersinitiatief van Eva Bes en Marja Versteeg, twee tuinvrouwen uit Rotterdam Noord met hart voor de natuur én voor mensen. Samen met al onze vrijwilligers, zetten we ons in voor de biodiversiteit in de stad én voor de verbinding tussen mensen en organisaties.

            Thuisbasis van Stadskwekerij De Kas is een kassencomplex in het hartje van Rotterdam. Daar hebben we een duurzame kwekerij met inspiratietuin. In 2020 groeide de vraag naar onze gifvrije plantjes. Het frustreerde ons dat we door ruimte- en tijdgebrek niet konden voldoen aan deze vraag. Tegelijkertijd boden steeds meer bewoners ons spontaan hun zaailingen en stekjes aan. Toen ontstond al snel het idee een digitaal platform te ontwikkelen waar we vraag en aanbod bij elkaar kunnen komen. Studenten van de Hogeschool Rotterdam schoten ons te hulp en zo onstond BiodivercityMAX.

            BiodivercityMAX biedt een platform waarop alle groenliefhebbers planten én kennis met elkaar kunnen delen. Zodat we samen één grote duurzame kwekerij vormen die zich inzet voor een gifvrije, betaalbare en groene wereld.
        </p>

        <br><br>

        <h2 class="ZATEAM">The Team</h2>
        <p>
            We are a team of 5 Informatics students from the Rotterdam University of Applied sciences that have created this website in order to facilitate a trading platform for plant
            enthousiasts and people interested in cultivating plants. The aim of our platform is to connect the community through interaction on our site and to allow the non-commercial
            trade of seeds, cuttings and plants
        <p />
</body>