@{
    ViewData["Title"] = "Chat";
}

<div class="all-chats">
    <input type="search" placeholder="Search messges or contacts" class="chatsearch">
    <div class="one-chats">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
        <p>Lorem ipsum.</p>
    </div>
    <div class="one-chats">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="one-chats">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="one-chats">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
</div>
<div class="app-chat">
    <div class="chat-person">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
        <p>Chat with Vincent Porter</p>
    </div>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
    <ul id="chat">
        <li class="you">
            <div class="entete">
                <span class="status green"></span>
                <h2>Vincent</h2>
            </div>
            <div class="triangle"></div>
            <div class="message">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </div>
        </li>
        <li class="me">
            <div class="entete">
                <h2>Vincent</h2>
                <span class="status blue"></span>
            </div>
            <div class="triangle"></div>
            <div class="message">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </div>
        </li>
        
    </ul>
    <textarea placeholder="Type your message"></textarea>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
    <a href="#">Send</a>
</div>