@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<AuthSystem.Models.Product>
<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
<!DOCTYPE html>
<html lang="en">

<header class="start-header">
    <div class="slider">
        <div class="slider2">
            <div class="slider-text">
                <h1>Welcome!</h1>
                <p>Exchange your plants</p>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="body-row">
        <div class="filter-row">
            <h2>Filter</h2>
            <div class="post">
                <input type="radio" id="post" name="post" value="post" checked="checked">
                <p>Delivered by post</p>
            </div>
            <div class="meetup">
                <input type="radio" id="meetup" name="post" value="meetup">
                <p>Meetup in person</p>
            </div>
            <hr>
            <div class="trade">
                <input type="radio" id="trade" name="trade" value="trade" checked="checked">
                <p>Trading</p>
            </div>
            <div class="notrade">
                <input type="radio" id="notrade" name="trade" value="nodtrade">
                <p>No trading</p>
            </div>
            <div class="select-boxes">
                <div class="productsselect">
                    <form>
                        <select name="product" required="required">
                            <option value="" disabled selected hidden>Products</option>
                            <option value="seed">Seed</option>
                            <option value="cutting">Cutting</option>
                            <option value="bud">Bud</option>
                        </select>
                    </form>
                </div>
                <div class="typeselect">
                    <form>
                        <select name="type" required="required">
                            <option value="" disabled selected hidden>Type</option>
                            <option value="herb">Herb</option>
                            <option value="cutting">Cutting</option>
                            <option value="creeper">Creeper</option>
                            <option value="shrub">Shrub</option>
                            <option value="climber">Climber</option>
                        </select>
                    </form>
                </div>
                <div class="lightselect">
                    <form>
                        <select name="light" required="required">
                            <option value="" disabled selected hidden>Light</option>
                            <option value="low">Low</option>
                            <option value="mid">Mid</option>
                            <option value="high">High</option>
                        </select>
                    </form>
                </div>
                <div class="waterselect">
                    <form>
                        <select name="water" required="required">
                            <option value="" disabled selected hidden>Water</option>
                            <option value="low">Low</option>
                            <option value="mid">Mid</option>
                            <option value="high">High</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="products-row">
            <h1>New</h1>
            @foreach (var item in Model)
            {
        <div class="product">
            <img src="./Images/OIP.jpg">

            <a href="Products/Details/@item.Id">@item.Name <i>@item.LatinName</i></a>
            <p></p>

        </div>
            }
            <!--<div class="product">
        <img src="./Images/OIP.jpg">
        <p>Name</p>
    </div>
    <div class="product">
        <img src="./Images/OIP.jpg">
        <p>Name</p>
    </div>
    <div class="product">
        <img src="./Images/OIP.jpg">
        <p>Name</p>
    </div>
    <div class="product">
        <img src="./Images/OIP.jpg">
        <p>Name</p>
    </div>-->
        </div>
    </div>
</body>
</html>