@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email verified";
}

<div style="margin-left:4rem;margin-top:1rem;">
    <span class="faded faded-top"> <img class="bioman" src="https://media.giphy.com/media/13a8bJ6EfAYrW8/giphy.gif" alt="cool gif, but not working" /> </span>
    
    <h1 class="biomandiv">Your email has been verified!</h1>
    <p></p>
    <div class="biomandiv">
        <p class="biomandiv">Click here to <a href="/Identity/Account/Login">login</a></p>
    </div>

</div>