@page
@model ForgotPasswordConfirmation
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["title"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer["checkmail"]
</p>

