@page
@model ProfileModel

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "MyProfile";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De kas</title>
    <link rel="shortcut icon" type="image/jpg" href=”./Images/OIP.jpg” />
</head>

<body>

    <div class="pdiv">
        <div class="editdiv">
            <a href="/Identity/Account/Manage" class="edit" id="edit">Edit Account</a>
        </div>
        <div class="pfpdiv">
            <img class="pfp" src="http://img4.wikia.nocookie.net/__cb20140328190757/pokemon/images/thumb/2/21/001Bulbasaur.png/100px-001Bulbasaur.png" alt="">
        </div>
    </div>

    <p class="hiprofile">Hi, @UserManager.GetUserAsync(User).Result.Nickname!</p>
    <div class="profilebuttons">
        
        <div class="but">
            <a class="pfbutton" id="add" asp-controller="Products" asp-action="Create"><img class="butid" src="/Images/Layer 2.png" alt=""></a>
            <p class="butext" id="add">Add a product</p>
        </div>

        <div class="but">
            <a href="ProfileProducts.html" class="pfbutton" id="myprods"><img class="butid" src="/Images/Layer 3.png" alt=""></a>

            <p class="butext" id="myprods">Your products</p>
        </div>

        <div class="but">
            <a href="chat.html" class="pfbutton" id="viewchat"><img class="butid" src="/Images/Layer 4.png" alt=""></a>

            <p class="butext" id="viewchat">Your chat</p>
        </div>
    </div>
</body>
</html>