@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<body>
    <div class="body-row2">
        <div id="r">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>


                <div class="pfpdiv">
                    <img class="pfp" src="~/images/pfp.jpg" alt="">
                </div>
                <div class="upload">
                    <a href="" class="upload" id="upload">Upload a file</a>
                </div>

                <div class="form-group">
                    <label class="reglabel" asp-for="Input.Nickname"></label>
                    <input type="text" class="editacc" asp-for="Input.Nickname" />
                    <span asp-validation-for="Input.Nickname" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="reglabel" asp-for="Input.Email"></label>
                    <input class="editacc" asp-for="Input.Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="reglabel" id="phc" asp-for="Input.PhoneNumber"></label>
                            <input class="phc" id="ph" asp-for="Input.PhoneNumber" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="reglabel" id="phc" asp-for="Input.PostCode"></label>
                            <input class="phc" id="pc" asp-for="Input.PostCode" />
                            <span asp-validation-for="Input.PostCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label class="reglabel" asp-for="Input.Password"></label>
                    <input class="editacc" asp-for="Input.Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="reglabel" asp-for="Input.ConfirmPassword"></label>
                    <input class="editacc" asp-for="Input.ConfirmPassword" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="login" id="login">Create Account</button>

            </form>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
