@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmation";
}
<div style="margin-left:4rem">

    <h1>@ViewData["Title"]</h1>
    <p>
        Almost done! We've sent a link to your email. You can't use your account until you click on that link.
    </p>
</div>