@page
@model ResetPasswordConfirmationModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Password has been reset ";
}
<div style="margin-left:4rem">
    <p>
        @localizer["resetyes"]. <a asp-page="./Login">@localizer["login"]</a>.
    </p>
</div>