
model AuthSystem.Models.Product
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Your products";
    string x = "";
    Task<ApplicationUser> thisUser = UserManager.FindByIdAsync(x);
}
<!DOCTYPE html>
<header class="start-header">
    <div class="slider">
        <div class="slider2">
            <div class="slider-text">
                <h1>Your products</h1>
            </div>
        </div>
    </div>

</header>
<html lang="en">
<body>
    <div class="body-row">
        <div class="filter-row">
            <div class="search-pr">
                <form asp-controller="Products" asp-action="Index" method="get" class="get-product">
                    <p>Search: </p>
                    <input type="text" name="SearchString" />
                    <input class="edit" id="sv" type="submit" value="Search" />
                </form>
            </div>

            <h2>Filter</h2>
            <form asp-controller="Products" asp-action="Index" method="get" class="get-product2">
                <hr>
                <h4>Product Offer</h4>
                <div class="seed">
                    <input type="checkbox" name="productOffer" value="seed" /><p>Seed</p>
                </div>
                <div class="bulb">
                    <input type="checkbox" name="productOffer" value="bulb" /><p>Bulb</p>
                </div>
                <div class="cutting">
                    <input type="checkbox" name="productOffer" value="cutting" /><p>Cutting</p>
                </div>
                <div class="seedling">
                    <input type="checkbox" name="productOffer" value="seedling" /> <p>Seedling</p>
                </div>
                <div class="bud">
                    <input type="checkbox" name="productOffer" value="bud" /> <p>Bud</p>
                </div>
                <div class="grownplant">
                    <input type="checkbox" name="productOffer" value="grownplant" /> <p>Grown plant</p>
                </div>
                <hr>
                <h4>Product Type</h4>
                <div class="tree">
                    <input type="checkbox" name="productType" value="tree" /> <p>Tree</p>
                </div>
                <div class="shrub">
                    <input type="checkbox" name="productType" value="shrub" /> <p>Shrub</p>
                </div>
                <div class="herb">
                    <input type="checkbox" name="productType" value="herb" /> <p>Herb</p>
                </div>
                <div class="ground cover">
                    <input type="checkbox" name="productType" value="ground cover" /> <p>Ground cover</p>
                </div>
                <div class="creeper">
                    <input type="checkbox" name="productType" value="creeper" /> <p>Creeper</p>
                </div>
                <div class="aquatic">
                    <input type="checkbox" name="productType" value="aquatic" /> <p>Aquatic</p>
                </div>
                <input class="edit" id="sv" type="submit" value="Filter" />
            </form>

            @*<p>Delivery</p>
                <div class="post">
                    <input type="radio" id="post" name="post" value="post">
                    <p>Delivery by post</p>
                </div>
                <div class="meetup">
                    <input type="radio" id="meetup" name="post" value="meetup">
                    <p>Meetup in person</p>
                </div>
                <hr>
                <p>Exchange</p>
                <div class="trade">
                    <input type="radio" id="trade" name="trade" value="trade">
                    <p>With trade</p>
                </div>
                <div class="notrade">
                    <input type="radio" id="notrade" name="trade" value="nodtrade">
                    <p>With no trade</p>
                </div>
                <hr>*@

        </div>

        <div class="pro-page products-row">
            @{
                foreach (var product in thisUser.Result.Products)
                {

                    {
                        <div class="product">
                            <img src="GetBase64String(Model.Picture)" style="width: 100%; height: 100%;" />
                            <a href="Products/Details/@product.Id">@product.Name<i>@product.LatinName</i></a>
                        </div>
                    }

                }

            }
        </div>
    </div>
</body>
</html>