@model PlantWebsite.Models.User

@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>De kas</title>
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/reg.css">
    <link rel="stylesheet" href="./CSS/log.css">
    <link rel="shortcut icon" type="image/jpg" href=”./Images/OIP.jpg” />
</head>
<body>
    <div class="ddd">
        <div class="dkdiv">
            <span class="dktext">De Kas</span>
            <img class="dk" src="./images/De_Kas.jpg" alt="">
        </div>
    </div>
    <h2>Login</h2>

    <div class="r">
        <input type="text" name="" class="editacc" id="" placeholder="Email Address">
        <input type="password" name="" class="editacc" placeholder="Password">

        <a href="" class="edit" id="cr" >Log in</a>
        <a href="" class="forgotpass"   >Click here if you forgot your password.</a>
    </div>
</body>
</html>
</html>

