/*hoofd en productpagina*/
.body-row{
	margin:0px auto;
	padding:10px 30px;
	background-color: #e1e1e1;
	display: inline-block;
	text-align: center;
}

.filter-row{
	width: 200px;
	display: inline-block;
}

.filter-row h2{
	text-align: left;
}

.filter-row p{
    display: inline-block;
    float: left;
    font-size: 20px;
    margin: 0px 10px;

}
.filter-row input{
	display: inline-block;
    float: left;
}

.filter-row div{
	width: 100%;
	display:inline-block;
	margin: 2px 0px;
}

.select-boxes select{
	width: 100%;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0px;
    border-radius:5px;
}

.products-row{
	width: 75%;
    display: inline-block;
    float: right;
}

.products-row h1{
	margin-left: 40px;
}

.product{
	margin-left: 40px;
    width: 275px;
    display: inline-block;
}

.product img{
	width: 100%;
    height: 100%;
    border: 1px solid;
}

.product p{
	font-size: 20px;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}

.pro-page{
	margin-top:25px;
}
/*end of hoofd en productpagina
start of Profile.html pagina*/
.profile-image{
    width: 250px;
    text-align: center;
    margin: 0px auto;
}

.profile-image img{
	width: 100%;
    margin: 0px auto;
    display: block;
    border-radius: 130px;
    width: 100%;
    margin: 0px auto;
    display: block;
    border-radius: 100%;
    height: 250px;
}

.your-products{
	text-align:center;
}

.your-products h1{
	font-size: 40px;
}

.profile-image p{
	font-size: 25px;
    margin-top: 0px;
}

.profile-image button{
	background-color: #475e48;
    font-size: 25px;
    color: white;
    padding: 5px 60px;
    border-radius: 5px;
}

.profile-image button:hover{
	background-color: #b3dea2;
	color:#000;
}

@media screen and (max-width: 925px){
	.filter-row{
		width: 100%;
		display: inline-block;
	}

	.products-row{
		width: 100%;
	}

}