/*start of header*/
.img{
    float: left;
}

.searchbalk{
    float: right;
    margin-top: -2px;
}

.search{
    width: 350px;
    display: block;
    float: right;
    padding-top: 16px;
    margin-right: 60px;
}

.dif-header{
	background-color: #33cc33;
    height: 62px;
}

.prosearch{
    height: 33px;
}

.submitprosearch{
    height: 33px;
}

.menu{
    background-color: #33cc33;
    height: 62px;
    opacity: 80%;
}
.language{
    width: 43px;
    height: 30px;
}

.main-navigation{
    width: 500px;
    float: left;
    margin-top:10px;
}

.menu-item{
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 33px;
    margin: 0;
    padding: 5px 20px;
}
.main-navigation a{
    color: #000;
    font-size: 25px;
    text-decoration: none;
}

.start-header{
    height: 330px;
    background-image: url(OIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

.slider-text{
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 140px;
    text-align: center;
    border: solid #000 3px;
    background-color: #fff;
    opacity: 70%;
    margin-top: 60px;
}

.slider-text h1{
    margin-top: 18px;
    margin-bottom: 0px;
    font-size: 45px;
}
.slider-text p{
    margin: 0px;
    margin-top: 10px;
    font-size: 25px;

}
/*End of Header*/
/*start of body*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}



/*voorbeeldcode
a:hover {
    background: #338033;
    cursor: pointer;
}

button:hover:{
    opacity: .6;
    transition: .7s;
}*/