.r{
    text-align: center;
}

.editacc{
    font-size: 2rem;
}


h2{
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
}

.forgotpass{
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.3rem;
}


.dk{
    display: inline;
    margin-top: 1.5em;
    margin-right: auto;
    margin-left: auto;
    width: 50rem;
}

.dkdiv{
    position: relative;
    text-align: center;
    width: 10rem;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
}

.dktext{
    display: inline;
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
}

.dkdiv:hover, .dktext:hover{
    color: rgb(0, 95, 0);
    filter: contrast(120%);

    transition: color 0.2s, filter 0.2s;
}

.ddd{
    margin-top: 3rem;
}

.logginging {
    margin-left: 50%;
    margin-right: 50%;
    width: 50% !important;
}