/*hoofd en productpagina*/
.body-row {
    margin: 0px auto;
    padding: 10px 60px;
    background-color: #e1e1e1;
    text-align:center;
    display:inline-block;
    width:100%;
}

.body-row2 {
    margin: 0px auto;
    padding: 10px 60px;
    display: inline-block;
    width: 100%;
}

.filter-row {
    width: 200px;
    display: inline-block;
    float: left;
}

.filter-row h2{
	text-align: left;
}

.filter-row p{
    display: inline-block;
    float: left;
    font-size: 15px;
    margin: 1px 10px;

}
.filter-row input{
	display: inline-block;
    float: left;
}

.filter-row input[type=radio] {
    margin-top: 5px;
}

.filter-row div{
	width: 100%;
	display:inline-block;
}

.filter-row hr{
    margin-bottom: 10px;
    margin-top:5px;
}

.select-boxes select{
	width: 100%;
    padding: 5px;
    font-size: 15px;
    margin: 10px 0px;
    border-radius:5px;
}

.products-row {
    width: 75%;
    display: inline-block;
    float: right;
    margin-top: 25px;
}

.product {
    margin: 10px 20px;
    width: 275px;
    display: inline-block;
}

.product img{
	width: 100%;
    height: 100%;
    border: 1px solid;
}

.product a {
    font-size: 15px;
    text-align: center;
    margin: 0px;
    color: #000;
    margin-bottom: 20px;
}

.pro-page{
	margin-top:25px;
}

.get-product2 h4{
    text-align:left;
}
.get-product2 input {
    margin-top: 5px;
}

.get-product2 .edit {
    color: white;
    background-color: #475E48;
}
.get-product2 .edit:hover {
    background-color: rgb(138, 206, 3);
}
    /*end of hoofd en productpagina
start of Profile.html pagina*/
    .profile-image {
    width: 250px;
    text-align: center;
    margin: 0px auto;
}

.profile-image img{
	width: 100%;
    margin: 0px auto;
    display: block;
    border-radius: 130px;
    width: 100%;
    margin: 0px auto;
    display: block;
    border-radius: 100%;
    height: 250px;
}

.homepage h1{
    margin-top: 30px;
}

.your-products{
	text-align:center;
}

.your-products h1{
	font-size: 40px;
}

.profile-image p{
	font-size: 25px;
    margin-top: 0px;
}

.profile-image button{
	background-color: #475e48;
    font-size: 25px;
    color: white;
    padding: 5px 60px;
    border-radius: 5px;
}

.profile-image button:hover{
	background-color: #b3dea2;
	color:#000;
}

@media screen and (max-width: 925px){
	.filter-row{
		width: 100%;
		display: inline-block;
	}

	.products-row{
		width: 100%;
	}
}

/*add product page*/

.create-form {
    width: 100%;
}
.button-cre input[type=submit] {
    border-radius: 5px;
    font-size: 15px !important;
    height: auto !important;
    padding: 15px !important;
    margin-top: 10px !important;
    color: white;
    background-color: #475E48;
}

.button .edit {
    border-radius: 5px;
    font-size: 15px !important;
    height: auto !important;
    padding: 15px !important;
    width: auto !important;
    float: right;
    margin-top: 10px !important;
}

.form-group input[type=submit]:hover {
    background-color: rgb(138, 206, 3);
    transition: background-color 0.5s;
    transition-timing-function: ease-out;
}

.pic {
    display: block;
    width: 300px;
    float: left;
    height: 320px;
}

    .pic .form-control {
        height: 250px;
    }

.pro-names {
    width: 100%;
    float: right;
    display: inline-block;
}

.select-box {
    width: 25%;
    float: left;
    padding-right: 19px;
}

.last{
    padding-right: 0px;
}

.homepage p{
    text-align: justify;
}

.homepage .img1 {
    width: 320px;
    float: right;
    display: inline;
    margin: 0px 0px 0px 50px;
    border-width: 0px;
}

.homepage .img2{
    display:none;
}
.product-date{
    width:100%;
    display: inline-block;
}

.button {
    float: right;
    width: 50%;
    text-align: right;
}

html {
    font-family: sans-serif !important;
}
.button-cre{
    float:left;
    width:50%;
}

header .container {
    margin-bottom: 0px !important;
    padding: 0px 45px !important;
}

footer .container {
    margin-bottom: 0px !important;
    padding: 0px 45px !important;
}
body .container {
    margin-bottom: 38px;
    max-width: 4000px !important;
    padding: 0px;
}

.get-product {
    width: 100%;
    text-align: left;
}

.add-pro{
    width:100%;
    text-align:center;
}

.add-pro .edit {
    width: 200px !important;
    margin-top: 5px !important;
    display: inline-block !important;
    padding: 15px !important;
}

.get-product input[type=text] {
    width: 68%;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    margin: 10px 0px;
    border-radius: 5px;
}

.search-pr {
    margin-bottom: -25px;
    margin-top: 25px;
}

.get-product input[type=submit] {
    border-radius: 5px;
    width: 32% !important;
    font-size: 15px !important;
    height: 36px !important;
    padding: 0px !important;
    margin-top: 10px !important;
    color: white;
    background-color: #475E48;
}
    .get-product input[type=submit]:hover {
        cursor: pointer;
        background-color: rgb(122, 184, 0);
        transition: background-color 0.5s;
        transition-timing-function: ease-out;
    }

    .get-product p {
        margin-left: 0px;
        width: 100%;
    }

@media screen and (max-width: 767px) {
    .editdiv {
        text-align: center;
        margin-left: 0px;
    }

    .select-box {
        width: 100%;
        padding-right: 0px;
    }

    #ph {
        width: 100%;
    }

    #pc {
        display: inline-block;
        width: 100%;
        margin-left: 0px;
    }

    .homepage .img1 {
        display: none;
    }

    .homepage .img2{
        width: 100%;
        display:block;
    }

    .pic .form-control {
        height: 150px;
    }

    .pic{
        height:auto;
        width:100%;
    }
}
@media screen and (max-width: 700px){
    #loggingin {
        margin: auto !important;
        width: 80%;
    }
    .dkdiv{
        width:100%;
    }

    .dk {
        width: 100%;
    }

    .dktext {
        font-size: 50px;
    }

    .navbar-brand {
        margin-right: 15px;
        font-size: 1rem;
    }

}
    @media screen and (max-width: 500px){
        
        .button-cre{
            width:100%;
        }

        .button{
            width:100%;
        }

        .button-cre input[type=submit] {
            width: 100% !important;
            margin-left: 0px !important;
        }

        .button .edit{
            width:100% !important;
        }

        .dktext {
            font-size: 40px;
        }

        #r {
            width: 100%;
        }

        .product {
            margin: 10px 0px;
            width: 100%;
        }

        .select-box {
            width: 100%;
        }

        .pro-names {
            width: 100%;
            height: auto;
        }

        .but {
            width: 100%;
        }
    }

@media screen and (max-width: 400px) {
    .dktext {
        font-size: 30px;
    }
    .hiprofile{
        font-size:16px;
    }

}
    /*chatpage*/
    .all-chats {
        width: 260px;
        float: left;
        margin-right: 40px;
    }

    .chatpage {
        background: #E1E1E1;
    }

    .chatsearch {
        width: 100%;
        padding: 10px;
        font-size: 17px;
        border-radius: 20px;
        margin: 20px 0px;
    }

    .one-chats {
        border: 3px solid #000;
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 20px;
    }

        .one-chats img {
            float: left;
            border-radius: 30px;
            height: 55px;
        }

        .one-chats p {
            margin: 0px;
            margin-left: 80px;
            height: 55px;
        }

    .app-chat {
        margin-left: 10px;
        float: left;
        margin-top: 20px;
        width: 700px;
    }

    .chat-person {
    }

        .chat-person img {
            float: left;
            border-radius: 30px;
            height: 100px;
        }

        .chat-person p {
            margin: 0px;
            margin-left: 125px;
            height: 100px;
            padding-top: 25px;
            font-size: 30px;
        }