/*start of header*/
.img{
    float: left;
}

.product-pro .slider-text {
    height: 280px;
    margin-top: 30px;
}

.product-pro2{
    height: 400px !important;
}
@media screen and (max-width: 550px) {
    .product-pro .slider-text {
        height: 210px;
        margin-top: 0px;
    }

    .product-pro2 {
        height: 270px !important;
    }
}
    .searchbalk {
        float: right;
        margin-top: -2px;
    }

    #cover-image {
        width: 100%;
        height: 200px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .search {
        width: 350px;
        display: block;
        float: right;
        padding-top: 16px;
        margin-right: 60px;
    }

    .dif-header {
        background-color: #b3dea2;
        height: 62px;
    }

    .prosearch {
        height: 33px;
        border-radius: 5px;
    }

    .submitprosearch {
        height: 33px;
        border-radius: 5px;
    }

    .menu {
        height: 62px;
        opacity: 80%;
    }

    .language {
        width: 43px;
        height: 30px;
    }

    .main-navigation {
        float: left;
        margin-top: 10px;
    }

    .menu-item {
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        line-height: 33px;
        margin: 0;
        padding: 5px 20px;
    }

    .main-navigation a {
        color: #000;
        font-size: 25px;
        text-decoration: none;
    }

    .start-header {
        height: 330px;
        background-image: url(https://assets.unenvironment.org/s3fs-public/styles/article_billboard_image/public/2019-11/bio-agric-JUNELLE_LAWRY.jpg?h=f7c26134&amp;itok=I7Sbq_Kj);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30px;
    }

    .slider-text {
        display: block;
        margin: 0px auto;
        width: 300px;
        height: 140px;
        text-align: center;
        border: solid #000 3px;
        background-color: #fff;
        opacity: 70%;
        margin-top: 60px;
    }

    .navbar-expand-sm {
        background-color: #b3dea2 !important;
        margin-bottom: 0px !important;
    }

    .slider-text h1 {
        margin-top: 18px;
        margin-bottom: 0px;
        font-size: 40px;
    }

    .slider-text p {
        margin: 0px;
        margin-top: 10px;
        font-size: 20px;
    }

    .navbar-nav {
        font-size: 15px;
    }
    /*End of Header*/
    /*start of body*/
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    @media screen and (max-width: 1000px) {
        .menu {
            height: 120px;
        }

        .start-header {
            height: 250px;
        }

        .main-navigation {
            width: 100%;
        }

        .search {
            margin-right: 0px;
            width: 100%;
            float: left;
            padding-top: 0px;
            margin-left: 60px;
        }

        .searchbalk {
            float: left;
            margin-left: 60px;
        }

        .main-navigation {
            margin-bottom: 10px;
        }

        .slider-text {
            margin-top: 30px;
        }

        .dif-header {
            height: 120px;
        }
    }

    @media screen and (max-width: 550px) {
        .start-header {
            height: 190px;
        }

        .dif-header {
            height: 250px;
        }

        .menu {
            height: 250px;
        }

        .menu-item {
            width: 100%;
            padding: 0px;
        }

        .main-navigation a {
            font-size: 20px;
        }

        .search {
            margin-left: 40px;
        }

        .main-navigation {
            margin-bottom: 10px;
        }

        .slider-text {
            margin-top: 20px;
            height: 105px;
            width: 170px;
        }

            .slider-text h1 {
                margin-top: 10px;
                font-size: 25px;
            }

        .searchbalk {
            margin-left: 0px;
            width: 100%;
            margin-top: 10px;
        }

        .slider-text p {
            margin-top: 5px;
            font-size: 15px;
        }
    }

    .compat-object-fit {
        background-size: cover;
        background-position: center center;
    }

        .compat-object-fit .img-cover {
            opacity: 0;
        }

    /*voorbeeldcode
a:hover {
    background: #338033;
    cursor: pointer;
}

button:hover:{
    opacity: .6;
    transition: .7s;
}*/