@model AuthSystem.Models.Product

@{
    ViewData["Title"] = "Create";
}

<div class="body-row2">
        <form asp-action="Create" class="create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="pic">
                <div class="form-group">
                    <label asp-for="Picture" class="control-label"></label>
                    <input asp-for="Picture" class="form-control" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
            </div>
            <div class="pro-names">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LatinName" class="control-label"></label>
                    <input asp-for="LatinName" class="form-control" placeholder="Latin name"/>
                    <span asp-validation-for="LatinName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" placeholder="Description"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Trade" /> @Html.DisplayNameFor(model => model.Trade)
                    </label>
                    <br />
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Post" /> @Html.DisplayNameFor(model => model.Post)
                    </label>
                </div>
            </div>
            <div class="sel-boxes">
                <div class="select-box">
                    <div class="form-group">
                        <label asp-for="Kind" class="control-label">Product</label>
                        <select asp-for="Kind" class="form-control" required="required">
                            <option value="" disabled selected hidden>Products</option>
                            <option value="not sure">Not sure</option>
                            <option value="seed">Seed</option>
                            <option value="cutting">Cutting</option>
                            <option value="bud">Bud</option>
                        </select>
                        <span asp-validation-for="Kind" class="text-danger"></span>
                    </div>
                </div>
                <div class="select-box">
                    <div class="form-group">
                        <label asp-for="Type" class="control-label">Product Type</label>
                        <select asp-for="Type" class="form-control" required="required">
                            <option value="" disabled selected hidden>Type</option>
                            <option value="not sure">Not sure</option>
                            <option value="herb">Herb</option>
                            <option value="cutting">Cutting</option>
                            <option value="creeper">Creeper</option>
                            <option value="shrub">Shrub</option>
                            <option value="climber">Climber</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="select-box">
                    <div class="form-group">
                        <label asp-for="Water" class="control-label"></label>
                        <select asp-for="Water" class="form-control" required="required">
                            <option value="" disabled selected hidden>Water</option>
                            <option value="not sure">Not sure</option>
                            <option value="low">Low</option>
                            <option value="mid">Mid</option>
                            <option value="high">High</option>
                        </select>
                        <span asp-validation-for="Water" class="text-danger"></span>
                    </div>
                </div>
                <div class="select-box last">
                    <div class="form-group">
                        <label asp-for="Light" class="control-label"></label>
                        <select asp-for="Light" class="form-control" required="required">
                            <option value="" disabled selected hidden>Light</option>
                            <option value="not sure">Not sure</option>
                            <option value="low">Low</option>
                            <option value="mid">Mid</option>
                            <option value="high">High</option>
                        </select>
                        <span asp-validation-for="Light" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="product-date">
                <div class="form-group">
                    <label asp-for="ProductDate" class="control-label"></label>
                    <input asp-for="ProductDate" class="form-control" />
                    <span asp-validation-for="ProductDate" class="text-danger"></span>
                </div>
                <div class="button-cre">
                    <div class="form-group">
                        <input type="submit" value="Create" class="edit" id="sv" />
                    </div>
                </div>
                <div class="button">
                    <a class="edit" id="sv" asp-action="Index">Back to productpage</a>
                </div>
            </div>
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
