@model AuthSystem.Models.Product

@{
    ViewData["Title"] = "Edit";
}



<div class="body-row2">
    <h1 style="margin-top: 25px;">Change product</h1>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="pro-names">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatinName" class="control-label"></label>
                <input asp-for="LatinName" class="form-control" />
                <span asp-validation-for="LatinName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <p><i>Think about the colour, height, soil type, special traits, etc. (Denk bijvoorbeeld aan de kleur, hoogte, bodemsoort, speciale kenmerken etc.)</i></p>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="Picture" />
            </div>
            <div class="form-group form-check">
                @*<label class="form-check-label">
                    <input class="form-check-input" asp-for="Trade" /> @Html.DisplayNameFor(model => model.Trade): Offering to get something in exchange.
                </label>
                <br />
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Post" /> @Html.DisplayNameFor(model => model.Post): Send the product by post.
                </label>*@
            </div>
            </div>
        <div class="sel-boxes">
            <div class="select-box">
                <div class="form-group">
                    <label asp-for="Kind" class="control-label">Product</label>
                    <select asp-for="Kind" class="form-control" required="required">
                        <option value="" disabled selected hidden>Products</option>
                        <option value="seed (zaad)">Seed (Zaad)</option>
                        <option value="bulb (bol)">Bulb (Bol)</option>
                        <option value="cutting (stek)">Cutting (Stek)</option>
                        <option value="seedling (zaadling)">Seedling (Zaadling)</option>
                        <option value="bud (knop)">Bud (Knop)</option>
                        <option value="grown plant (volgroeide plant)">Grown Plant (Volgroeide plant)</option>
                        <option value="other (anders)">Other (Anders)</option>
                    </select>
                    <span asp-validation-for="Kind" class="text-danger"></span>
                </div>
            </div>
            <div class="select-box">
                <div class="form-group">
                    <label asp-for="Type" class="control-label">Product Type</label>
                    <select asp-for="Type" class="form-control" required="required">
                        <option value="" disabled selected hidden>Type</option>
                        <option value="tree (boom)">Tree (Boom)</option>
                        <option value="shrub (struik)">Shrub (Struik)</option>
                        <option value="herb (kruidachtige)">Herb (Kruidachtige)</option>
                        <option value="ground cover (bodembedekker)">Ground Cover (Bodembedekker)</option>
                        <option value="creeper (klimplant)">Creeper (Klimplant)</option>
                        <option value="aquatic (waterplant)">Aquatic (Waterplant)</option>
                        <option value="other (anders)">Other (Anders)</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
            <div class="select-box">
                <div class="form-group">
                    <label asp-for="Water" class="control-label"></label>
                    <select asp-for="Water" class="form-control" required="required">
                        <option value="" disabled selected hidden>Water</option>
                        <option value="wet (nat)">Wet (Nat)</option>
                        <option value="medium (gemiddeld)">Medium (Gemiddeld)</option>
                        <option value="dry (droog)">Dry (Droog)</option>
                        <option value="no requirement (geen eisen)">No requirement (Geen eisen)</option>
                        <option value="not sure (weet ik niet)">not sure (Weet ik niet)</option>
                    </select>
                    <span asp-validation-for="Water" class="text-danger"></span>
                </div>
            </div>
            <div class="select-box last">
                <div class="form-group">
                    <label asp-for="Light" class="control-label"></label>
                    <select asp-for="Light" class="form-control" required="required">
                        <option value="" disabled selected hidden>Light</option>
                        <option value="sun (zon)">Sun (Zon)</option>
                        <option value="partial shadow (halfschaduw)">Partial Shadow (Halfschaduw)</option>
                        <option value="shadow (schaduw)">Shadow (Schaduw)</option>
                        <option value="no requirement (geen eisen)">No requirement (Geen eisen)</option>
                        <option value="not sure (weet ik niet)">not sure (Weet ik niet)</option>
                    </select>
                    <span asp-validation-for="Light" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="product-date">
            @*<div class="form-group">
                <label asp-for="Soil" class="control-label"></label>
                <input asp-for="Soil" class="form-control" placeholder="Soil Type" />
                <span asp-validation-for="Soil" class="text-danger"></span>
            </div>*@
            <div class="button-cre">
                <div class="form-group">
                    <input type="submit" value="Save" class="edit" id="sv" />
                </div>
            </div>
            <div class="button">
                <a class="edit" id="sv" asp-action="Index">Back to productpage</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
