@model IEnumerable<AuthSystem.Models.Product>

@{
    ViewData["Title"] = "Index";

    string GetBase64String(byte[] picture)
    {
        string imreBase64Data = Convert.ToBase64String(picture);
        string imgDataURL = string.Format("data:image/jpeg;base64,{0}", imreBase64Data);
        return imgDataURL;
    }
}
<!DOCTYPE html>
<header class="start-header">
    <div class="slider">
        <div class="slider2">
            <div class="slider-text">
                <h1>Products</h1>
                <p>Find here all the products!</p>
            </div>
        </div>
    </div>

</header>
<html lang="en">
<body>
    <div class="body-row">
        <div class="filter-row">
            <div class="search-pr">
                <form asp-controller="Products" asp-action="Index" method="get" class="get-product">
                    <p>Search: </p>
                    <input type="text" name="SearchString" />
                    <input class="edit" id="sv" type="submit" value="Search" />
                </form>
            </div>

            <h2>Filter</h2>
            <form asp-controller="Products" asp-action="Index" method="get" class="get-product2">
                <hr>
                <h4>Product Offer</h4>
                <div class="seeds">
                    <input type="checkbox" name="productOffer" value="seeds" /><p>Seeds</p>
                </div>
                <div class="bulb">
                    <input type="checkbox" name="productOffer" value="bulb" /><p>Bulb</p>
                </div>
                <div class="cutting">
                    <input type="checkbox" name="productOffer" value="cutting" /><p>Cutting</p>
                </div>
                <div class="seedling">
                    <input type="checkbox" name="productOffer" value="seedling" /> <p>Seedling</p>
                </div>
                <div class="bud">
                    <input type="checkbox" name="productOffer" value="bud" /> <p>Bud</p>
                </div>
                <div class="grownplant">
                    <input type="checkbox" name="productOffer" value="grownplant" /> <p>Grown plant</p>
                </div>
                <hr>
                <h4>Product Type</h4>
                <div class="tree">
                    <input type="checkbox" name="productType" value="tree" /> <p>Tree</p>
                </div>
                <div class="shrub">
                    <input type="checkbox" name="productType" value="shrub" /> <p>Shrub</p>
                </div>
                <div class="herb">
                    <input type="checkbox" name="productType" value="herb" /> <p>Herb</p>
                </div>
                <div class="ground cover">
                    <input type="checkbox" name="productType" value="ground cover" /> <p>Ground cover</p>
                </div>
                <div class="creeper">
                    <input type="checkbox" name="productType" value="creeper" /> <p>Creeper</p>
                </div>
                <div class="aquatic">
                    <input type="checkbox" name="productType" value="aquatic" /> <p>Aquatic</p>
                </div>
                <h4>Trade</h4>
                <div class="free">
                    <input type="checkbox" name="productTrade" value="Free" /> <p>Free to pick up</p>
                </div>
                <div class="exchange">
                    <input type="checkbox" name="productTrade" value="Exchange" /> <p>Want something</p>
                </div>
                <h4>Delivery</h4>
                <div class="meetup">
                    <input type="checkbox" name="productDelivery" value="Meet up" /> <p>Meet up</p>
                </div>
                <div class="mail">
                    <input type="checkbox" name="productDelivery" value="Send by mail" /> <p>Send by mail</p>
                </div>
                <input class="edit" id="sv" type="submit" value="Filter" />
            </form>

        </div>

        <div class="pro-page products-row">
            @foreach (var item in Model)
             {
                <div class="product">
                    <img src="@GetBase64String(item.Picture)" style="width: 100%; height: 100%;" />
                    <a href="Products/Details/@item.Id">@item.Name <i>@item.LatinName</i></a>
                    <p>By @item.PublisherName</p>
                </div>
             }
        </div>
    </div>
</body>
</html>