@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.UI.Services;
@using AuthSystem.Areas.Identity.Data

@model AuthSystem.Models.Product

@{
    ViewData["Title"] = "User deleted";

}
<div style="margin-left:4rem">

    <h1>Farewell...</h1>
    <p>
        Your account and products have been deleted.
    </p>
</div>