@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.UI.Services;
@using AuthSystem.Areas.Identity.Data
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model AuthSystem.Models.Product

@{
    ViewData["Title"] = "User deleted";

}
<div style="margin-left:4rem">

    <h1>@localizer["farewell"].</h1>
    <p>
        @localizer["deleted"]
    </p>
</div>